.dev-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin: 50px 0px 50px 0px;
}

.image-container {
  height: 200px;
  width: 200px;
  margin-left: 50px;
}

.dev-image {
  object-fit: contain;
  height: 200px;
  width: 200px;
  padding: 30px;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

