/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&family=Open+Sans:wght@300;400&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body{
    margin: 0;
    background-color: white;
}

p, span, button{
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: 2em;
    font-weight:400;
}