.Notes_Widget__container {
  position: absolute;
  left: 85px;
  top: 170px;
  border-radius: 8px;
  background-color: white;
  padding-left: 5px;
  box-shadow: 0px 2px 6px darkgrey;
  width: 90%;
}
.N_Widget__header {
  display: flex;
  margin-top: 20px;
  padding: 0 6px;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.N_Widget__header span {
  font-weight: bolder;
  margin-left: 10px;
}
.Note_Widget_Recent {
  color: #65ab2f;
  padding: 0;
  width: min-content;
  text-decoration: underline #64aa2d 2px;
  text-underline-position: under;
  margin-bottom: 5px;
}
.arrow {
  border: solid rgb(103, 176, 57);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px;
  margin-left: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.Note_Widget_Note:hover {
  background-color: rgb(219, 218, 218);
  width: max-content;
}
.N_Widget__holder {
  display: flex;
  width: 99%;
  overflow-x: scroll;
  margin: 5px;
}
.customizeHome {
  height: 20px;
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 8px 8px 8px 4px;
  font-weight: 400;
  border-radius: 4px;
  background-color: white;
}
.customize__button {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.ScratchPad_Widget__container {
  border-radius: 8px;
  background-color: white;
  padding-left: 5px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.61);
  overflow-x: scroll;
}
