/* .ql-font span[data-label="Roboto"]::before {
  font-family: "Roboto";
}
.ql-font-roboto {
  font-family: "Roboto";
}

.ql-font-arial,
.ql-font span[data-value="arial"]::before {
  font-family: Arial, sans-serif;
}
.ql-font-comic-sans,
.ql-font span[data-value="comic-sans"]::before {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.ql-font-courier-new,
.ql-font span[data-value="courier-new"]::before {
  font-family: "Courier New";
}
.ql-font-georgia,
.ql-font span[data-value="georgia"]::before {
  font-family: Georgia, serif;
}
.ql-font-helvetica,
.ql-font span[data-value="helvetica"]::before {
  font-family: Helvetica, sans-serif;
}
.ql-font-lucida,
.ql-font span[data-value="lucida"]::before {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
} */


.ql-showHtml {
  margin-right: 8px;
}

.ql-showHtml:after {
  content: "<html>";
}

.ql-picker.ql-emailVars {
  width: 160px;
}
.text-editor{
  /* margin-left: 100px; */
  width: 80%;
  background-color: white;
  border: 0px;
  
}

.ql-toolbar.ql-snow { 
  border: 0px;
}



.ql-container.ql-snow {
  border: 0px;
  height: 500px;
  border-top: .1em solid gainsboro;
  border-bottom: .1em solid gainsboro;

}

.quill > .ql-container > .ql-editor.ql-blank::before{
  font-size: 15px;
  color: lightgrey;
  font-style: none;
}
.ql-editor.ql-blank::before {
  color: rgba(0,0,0,0.6);
  content: attr(data-placeholder);
  font-style: normal;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}

.editor-footer {
  position: fixed;
  bottom: 0px;
  display: grid;
  width: 65%;
  grid-template-areas:
  "left middle middle middle middle middle middle middle middle middle middle middle middle middle middle middle middle right";
  font-size: 14px;
  color: grey;

}

.footer-right {
  grid-area: right;
  justify-self: end;
  align-self: center;
}
.footer__save__text {
  grid-area:middle;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__button {
    display: flex;
    flex-direction: row;
    align-items:center;
    background:#383838;
    color: white;
    height: 22px;
    padding-left: 13px;
    padding-bottom: 13px;
    margin: 3px 0;
    font-size: 10px;
    letter-spacing: .25px;
    font-family: -apple-system,sans-serif;
    font-weight: 600;
    user-select: none;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 22px;
    border-radius: 4px;
    cursor: pointer;
}

.Footer_button_text {
  padding-top: 10px;
  padding-right: 5px;
  color: white;
  font-size: 10px;
  letter-spacing: .25px;
  font-family: -apple-system,sans-serif;
  font-weight: 600;

}
