.dropdown-wrapper {
  width: 175px;
  height: 100%;
}
.dropdown-header {
  padding: 2px;
  width: 175px;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #333333;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
}

.ellipsis {
  margin-right: 10px;
  height: 24px;
  width: 24px;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15%;
}

.ellipsis:hover {
  background-color: #F7E57E;
  transition: opacity .2s linear;
}

.dots {
  height: fit-content;
  align-self: center;
  margin-bottom: 12px;
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.list-item {
  border: none;
  color: black;
  background-color: white;
  padding: 8px 12px;
}

.dropdown-list {
  margin-right: 20px;
}

.dropdown-list,
.dropdown-list-item {
  background-color: white;
}