@import url("https://kit.fontawesome.com/6463feb8bd.js");
@import url("https://fonts.googleapis.com/css2?family=Ewert&display=swap");
nav {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  align-content: center;
  justify-content: flex-start;
  background-color: #1a1a1a;
  position: fixed;
  left: 0px;
  height: 100%;
  width: 60px;
}
.homeNavBarOuter {
  z-index: 20;
}
.nav_top__circles,
.middle_nav__container,
.middle2_nav__container,
.middle3_nav__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: 15px;
}
.nav_top__circles i,
.middle_nav__container i,
.middle2_nav__container i,
.middle3_nav__container i {
  color: #cccccc;
  font-size: 16px;
  margin: auto 0;
}
.nav_top__circles {
  margin-top: 10px;
  margin-bottom: 7px;
}
.nav_circles {
  border-radius: 25px;
  height: 35px;
  width: 35px;
  margin: 7px;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}
.letter-circle {
  font-family: "Ewert", cursive;
  font-size: 23px;
  background-color: #e35b8b;
  color: #64aa2d;

  /* -webkit-text-fill-color: #0f9b02; */
  text-shadow: 1px 1px 0px #000000;
  /* color:black; */
  /* text-shadow: 1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000; */

  display: flex;
  justify-content: center;
  align-content: center;
  height: 30px;
  width: 30px;
}

.search-circle {
  background-color: #2e2f35;
}
.plus-circle {
  background-color: #05a729;
}
.plus-circle:hover {
  background-color: rgba(34, 217, 0);
}
.icon__holder {
  width: 55px;
  height: 31px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon__holder:hover {
  background-color: #424546;
}
.search-Drop-Down__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  width: 350px;
  height: 300px;
  position: absolute;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0 2px 6px rgba(98, 97, 97, 0.8);
  background-color: white;
  padding: 0px;
  left: 65px;
  border-radius: 12px;
}
.search-input__container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 90%;
  padding-top: 10px;
}
.searchText {
  width: 80%;
  border: 1px solid black;
  outline: 1px solid rgb(168, 168, 168);
  padding-left: 10px;
}
.search-input__container input {
  border: none;
}
.close_DD {
  font-size: 26px;
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 18px;
  color: rgb(168, 168, 168);
  padding: 8px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
}
.close_DD:hover {
  color: green;
}
.searchItems {
  border-radius: 12px;
}
.searchItems :hover {
  background-color: green;
}
