.splashSidebar__container{
    position: fixed;
    right: 0;
    top:0;
    z-index: 6;
    height: 100%;
    width: 345px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(100, 99, 99, 0.404);
}
.splashSidebar__container li{
    border-bottom: 1px solid rgb(156, 153, 153);
    list-style: none;
    font-size: 18px;
    font-family: sans-serif;

}
.splashSidebar__content{
    position: fixed;
    width: 90%;
    padding-left: 5px;
}
.splashSidebar__container li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 3;
    color: black;
    
}
.splashSidebar__container li a:hover{
color: green;
}
.close_sidebar{
    z-index: 10;
    position: absolute;
    font-size: 28px;
    color: grey;
    top: 20px;
    right: 20px;
    box-shadow: 2px 2px 5p black;
}
.close_sidebar:hover{
    color:green;
}